# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env*
!.env.example

# FastAPI
*.log

# Node
node_modules/
dist/
build/

# React
.vite/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db